<% require 'pp' %>

<h1>Brackets#generate</h1>
<p>Valid: <%= @isValid %> </p>

<div id="minimal">
	<div class="demo">
		Loading bracket...
	</div>
</div>

<script type="text/javascript">
	var minimalData = {
		teams : <%=@teams.to_json.html_safe %>,
		results : <%=@results.to_json.html_safe %>,
	}

	$(function() {
		$('#minimal .demo').bracket({
			init: minimalData})
	})
</script>