<h1>Bracket Generator (<%= (@isValid == 1) ? "valid" : "invalid" %>)</h1>

<div id="minimal">
	<div class="demo">
		Loading bracket...
	</div>
</div>

<script type="text/javascript">
	var minimalData = {
		teams : <%=@teams.to_json.html_safe %>,
		results : <%=@results.to_json.html_safe %>,
	}

	$(function() {
		$('#minimal .demo').bracket({
			init: minimalData})
	})
</script>