<% content_for :head do %>
	<div class="TopHeader">Info</div>
<% end %>

<div id="info_content">
	<h2>Why Should I Use This Bracket Generator?</h2>
	<p>March Madness is one of the most exciting sports events of the year. But if you don't follow college basketball closely it can be intimidating to fill out an entire bracket. Teams are ranked by the selection committee, but there are always upsets. The challenge of the bracket is picking the correct upsets. Since even the experts can't get it right every time, why not let the gods of probability choose? This Bracket Generator will give you a unique and competitive bracket that you can use to enter a pool or just to have a team to root for in every game.</p>

	<h2>How Should I Use The Bracket Generator?</h2>
	<p>No idea how you want your bracket to look? Just click "Fill In Bracket" and one will be filled out for you.
	<br>If you have some idea of how you want your bracket to look, just drag and drop your teams to advance them. Click "Fill In Bracket" to complete the rest.
	<br>Don't like the bracket dispayed? Click "Undo" and "Fill In Bracket" to get a fresh bracket.</p>

	<h2>How Does It Work?</h2>
	<p>We have the data from every game played since the NCAA tournament expanded to 64 teams in 1985. We then look at the record of all the seeds who have played each other and produce a probability of victory. For example, a #1 seed has beaten a #8 seed 45 times out of the 56 times they've played. This means that historically the #1 seed beats the #8 seed 80.36% of the time. Knowing these probabilities of victory for all seeds playing each other, we use a random number generator (kind of like a computerized rolling of dice) to choose the winner.</p>

	<h2>Is This Thing Any Good?</h2>
	<p>For an average of 100,000 brackets generated, here's how www.nerdbrackets.com stacks up against some ESPN personalities for 2013.
	<br>Michael Wilbon and Tony Kornheiser: 240 and 280
	<br>Joe Lunardi (ESPN's Bracketologist): 280
	<br>Dick Vitale: 290
	<br><b>Average nerdbracket: 593</b>
	<br>Winner of ESPN's Bracket Challenge: 1660
	<br>Perfect Score: 1920 (For 2014 Warren Buffett is offering $1 billion if you can do it)</p>
</div>
