<% content_for :head do %>
	<div class="TopHeader">Why This is Cool...</div>
<% end %>

<div id="info_content">
	<h2>Why You Should Use This</h2>
	<p>akajhdsf aksljdhfalkfh lkas hfl ahslfkh aslkfh laks hlkh aslk fasdfklhjashflkajshf lakh lah flka hflk ahlfk halkf halsf khaslkfh alksf halsk fhlkasdhf </p>
	<h2>Who Should Use This</h2>
	<p>akajhdsf aksljdhfalkfh lkas hfl ahslfkh aslkfh laks hlkh aslk fasdfklhjashflkajshf lakh lah flka hflk ahlfk halkf halsf khaslkfh alksf halsk fhlkasdhf </p>
	<h2>How This Compares To...</h2>
	<p>akajhdsf aksljdhfalkfh lkas hfl ahslfkh aslkfh laks hlkh aslk fasdfklhjashflkajshf lakh lah flka hflk ahlfk halkf halsf khaslkfh alksf halsk fhlkasdhf </p>
	<p>akajhdsf aksljdhfalkfh lkas hfl ahslfkh aslkfh laks hlkh aslk fasdfklhjashflkajshf lakh lah flka hflk ahlfk halkf halsf khaslkfh alksf halsk fhlkasdhf </p>

</div>
