// Place all the styles related to the Brackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#BracketGen
{

	div.Round
	{
		width: 100px;
		
		div {
		
			height: 10px;

			div {
				font-size: .5em;
			}
		}
		
		float: left;

		div.FromLeft {

			position: relative;

			div {
				position: absolute;
				bottom: 0px;
				left: 0px;
				
				text-align: left;
			}

		}

		div.FromRight {

			position: relative;

			div {
				position: absolute;
				bottom: 0px;
				right: 0px;

				text-align: right;
			}

		}

		div.TopTeam {
			div {
				width: 100%;
				border-bottom: 1px black solid;
			}
		}

		div.BottomTeam {
			div {
				width: 100%;
				border-bottom: 1px black solid;
			}
		}

		div.BottomTeam.FromLeft {
			border-right: 1px black solid;
		}

		div.BottomTeam.FromRight {
			border-left: 1px black solid;
		}

		div.Fill.FromLeft {
			border-right: 1px black solid;
		}

		div.Fill.FromRight {
			border-left: 1px black solid;
		}

		div.TopTeam.FromLeft.LastRound {

			div {
				width: 80%;
			}
		}

		div.BottomTeam.FromRight.LastRound {

			border-left: none;

			div {
				width: 80%;
			}
		}

		div.ChampionTeam {

			position: relative;

			div {
				width: 80%;
				margin: 0px auto;
				text-align: center;
			}
		}

		div.ChampionTeam.Winner {

			div {
				border: 1px black solid;
			}

		}
	}

}

