// Place all the styles related to the Brackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pxRoundWidth: 80px;
$uiRounds: 11;

$pxRowHeaderHeight: 20px;
$pxRowHeight: 8px;

div#BracketGen
{
	postion: relative;
	width: $uiRounds * $pxRoundWidth;

	div.TopHeader {
		height: $pxRowHeaderHeight;
		width: 100%;
		text-align: center;
	}

	div.Overlays {
		position: relative;

		div.ConfLabel {
			font-size: .8em;
			font-weight: bolder;
			position: absolute;
			width: $pxRoundWidth;
		}

		div#Overlay_South {
			left: $pxRoundWidth * 3;
			top: $pxRowHeaderHeight * 3 + $pxRowHeight * 4 * 4;
		}

		div#Overlay_West {
			left: $pxRoundWidth * 3;
			top: $pxRowHeaderHeight * 3 + $pxRowHeight * 12 * 4;
		}

		div#Overlay_East {
			left: $pxRoundWidth * 7;
			top: $pxRowHeaderHeight * 3 + $pxRowHeight * 4 * 4;
			text-align: right;
		}

		div#Overlay_Midwest {
			left: $pxRoundWidth * 7;
			top: $pxRowHeaderHeight * 3 + $pxRowHeight * 12 * 4;
			text-align: right;
		}
		
		img.BracketLogo {
			position: absolute;
			width: 125px;
			height: 125px;
			left: $pxRoundWidth * $uiRounds /2 - 125px / 2;
			top: $pxRowHeaderHeight * 3;
		}

	}


	div.Rounds 
	{
		clear: both;

		div.Round
		{
			width: $pxRoundWidth;
			float: left;

			div {
			
				height: $pxRowHeight;

				div {
					font-size: .5em;
				}
			}

			div.RowHeader {
				height: $pxRowHeaderHeight;
				
				div {
					text-align: center;
					font-size: .6em;
					padding: 5% 0;
				}
			}

			div.RowHeader.Label {
				background-color: blue;

				div {
					color: white;
				}
			}

			div.RowHeader.Desc {
				margin-bottom: 10px;

				div {
					font-style: italic;
				}
			}

			div.FromLeft {

				position: relative;

				div {
					position: absolute;
					bottom: 0px;
					left: 0px;
					
					text-align: left;
				}

			}

			div.FromRight {

				position: relative;

				div {
					position: absolute;
					bottom: 0px;
					right: 0px;

					text-align: right;
				}

			}

			div.TopTeam {
				div {
					width: 100%;
					border-bottom: 1px black solid;
				}
			}

			div.BottomTeam {
				div {
					width: 100%;
					border-bottom: 1px black solid;
				}
			}

			div.BottomTeam.FromLeft {
				border-right: 1px black solid;
			}

			div.BottomTeam.FromRight {
				border-left: 1px black solid;
			}

			div.Fill.FromLeft {
				border-right: 1px black solid;
			}

			div.Fill.FromRight {
				border-left: 1px black solid;
			}

			div.TopTeam.FromLeft.LastRound {

				div {
					width: 80%;
				}
			}

			div.BottomTeam.FromRight.LastRound {

				border-left: none;

				div {
					width: 80%;
				}
			}

			div.ChampionTeam {

				position: relative;

				div {
					width: 80%;
					margin: 0px auto;
					text-align: center;
				}
			}

			div.ChampionTeam.Winner {

				div {
					border: 1px black solid;
				}

			}
		}
	}
}

