// Place all the styles related to the Brackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pxRoundWidth: 80px;
$uiRounds: 11;
$pxPadding: 3px;

$pxRowHeaderHeight: 20px;
$uiHeaderRows: 2;
$pxRowHeight: 8px;

$pxArrowSize: 18px;

div#main_middle {
	position: relative;
	float: left; 
	border: 4px solid #2C3E50; 
	border-radius: 12px;
	background-color: white;
}

div#main_middle:before {

	content: "";
	border-style: solid;
	border-width: $pxArrowSize $pxArrowSize $pxArrowSize 0;
	border-color: transparent #2C3E50 transparent transparent;
	height: 0px;
	position: absolute;
	left: -$pxArrowSize;
	top: 60px;
	width: 0;
	-webkit-transform: rotate(360deg);
}

div.TopHeader {
	height: $pxRowHeaderHeight;
	text-align: center;
	padding-left: $pxArrowSize;
	padding-right: $pxArrowSize;
	font-size: .9em;
}

div#BracketGen
{
	position: relative;
	width: $uiRounds * $pxRoundWidth;

	div.Overlays {
		position: relative;

		div.ConfLabel {
			font-size: .8em;
			font-weight: bolder;
			position: absolute;
			width: $pxRoundWidth;
		}

		div#Overlay_South {
			left: $pxRoundWidth * 3;
			top: $pxRowHeaderHeight * $uiHeaderRows + $pxRowHeight * 4 * 4;
		}

		div#Overlay_West {
			left: $pxRoundWidth * 3;
			top: $pxRowHeaderHeight * $uiHeaderRows + $pxRowHeight * 12 * 4;
		}

		div#Overlay_East {
			left: $pxRoundWidth * 7;
			top: $pxRowHeaderHeight * $uiHeaderRows + $pxRowHeight * 4 * 4;
			text-align: right;
		}

		div#Overlay_Midwest {
			left: $pxRoundWidth * 7;
			top: $pxRowHeaderHeight * $uiHeaderRows + $pxRowHeight * 12 * 4;
			text-align: right;
		}
		
		img.BracketLogo {
			$pxImageSize: 125px;

			position: absolute;
			width: $pxImageSize;
			height: $pxImageSize;
			left: $pxRoundWidth * $uiRounds /2 - $pxImageSize / 2;
			top: $pxRowHeaderHeight * $uiHeaderRows;
		}

	}


	div.Rounds 
	{
		clear: both;

		div.Round
		{
			width: $pxRoundWidth;
			float: left;

			div {
			
				height: $pxRowHeight;

				div {
					font-size: .5em;
				}
			}

			div.RowHeader {
				height: $pxRowHeaderHeight;
				
				div {
					text-align: center;
					font-size: .6em;
					padding: 5% 0;
				}
			}

			div.RowHeader.Label {
				background-color: #2C3E50;

				div {
					color: white;
				}
			}

			div.RowHeader.Desc {
				margin-bottom: 10px;

				div {
					font-style: italic;
				}
			}

			div.FromLeft {

				position: relative;

				div {
					position: absolute;
					bottom: 0px;
					left: 0px;
					text-align: left;

				}

			}

			div.FromRight {

				position: relative;

				div {
					position: absolute;
					bottom: 0px;
					right: 0px;

					text-align: right;
				}

			}

			div.TopTeam {
				div {
					width: $pxRoundWidth - $pxPadding;
					border-bottom: 1px black solid;
				}
			}

			div.TopTeam.FromLeft {
				div {
					padding-left: $pxPadding;
				}
			}

			div.TopTeam.FromRight {
				div {
					padding-right: $pxPadding;
				}
			}

			div.BottomTeam {
				div {
					width: $pxRoundWidth - $pxPadding;
					border-bottom: 1px black solid;
				}
			}

			div.BottomTeam.FromLeft {
				border-right: 1px black solid;
				div {
					padding-left: $pxPadding;
				}
			}

			div.BottomTeam.FromRight {
				border-left: 1px black solid;
				div {
					padding-right: $pxPadding;
				}
			}

			div.Fill.FromLeft {
				border-right: 1px black solid;
			}

			div.Fill.FromRight {
				border-left: 1px black solid;
			}

			div.TopTeam.FromLeft.LastRound {

				div {
					width: 80%;
				}
			}

			div.BottomTeam.FromRight.LastRound {

				border-left: none;

				div {
					width: 80%;
				}
			}

			div.ChampionTeam {

				position: relative;

				div {
					width: 80%;
					margin: 0px auto;
					text-align: center;
				}
			}

			div.ChampionTeam.Winner {

				div {
					border: 1px black solid;
				}

			}
		}
	}
}

